$primary-color: firebrick;

$appId: 'mx-one';
$module-component: 'component';

$staus-light: 'light';
$staus-dark: 'dark';

.#{$appId} {
  &-#{$staus-light} {
    &-#{$module-component} {
      &-text {
        font-size: 20px;
        color: $primary-color;
      }
    }
  }

  &-#{$staus-dark} {
    &-#{$module-component} {
      &-text {
        font-size: 20px;
        color: $primary-color;
      }
    }
  }
}
